%flex-column {
  display: flex;
  flex-direction: column;
}

%column-center {
  align-items: center;
  justify-content: space-between;
}

%flex-row-start {
  display: flex;
  align-items: start;
}

%flex-row-center {
  display: flex;
  align-items: center;
}

%flex-row-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%bg-image {
  background-repeat: no-repeat;
  background-size: contain;
}