:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-linear-from: #100f0f;
  --bg-linear-to: #232323;
  --primary-black: #000000;
  --primary-white: #FFFFFF;
  --font-white: #D9D0D0;
  --font-white-active:rgb(164, 161, 161);
  --font-inactive: #686766;
  --font-gold: #F1CDB3;

}

p {
  margin: 0;
  color: var(--font-white);

}

a {
  font-weight: 500;
  color: var(--font-white);
  text-decoration: none;
  transition: color .5s;
}

a:hover {
  color: var(--font-white-active);
}

html {
  background: url(./assets/common/noise_transparent@2x.svg),
  linear-gradient(to top left, var(--bg-linear-from), var(--bg-linear-to));
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url(./assets/common/smoke.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
