@import 'src/styles/placeholders.scss';
@import 'src/styles/mixins.scss';

.footer {
  @include size(100%, auto);
  @extend %flex-row-start;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px 50px;
}

.info_wrapper {
  display: flex;
}